.services {
  padding: 96px 5%;

  background: #ffffff;
}

@media (max-width: 900px) {
  .services {
    padding: 48px 5%;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */

.header {
  margin-bottom: 24px;
  text-align: center;
  color: #333;
}

.label {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #333;
}

@media (max-width: 900px) {
  .label {
    font-size: 16px;
  }
}

.header h2 {
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 11px;
  line-height: 1.2;
}

.header p {
  color: #666;
  font-size: 13px;
  line-height: 1.6;
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}
